body {
  font-family: "Noto Sans JP", sans-serif;
}

/* Background image */

/* About me first photo */
.thumbnail img {
  max-height: 50%;
  max-width: 50%;
}

/* Nav bar at small screen dropdown */
.hover {
  padding: 10px;
  position: fixed;
  right: 0px;
  background-color: #2c1c47;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* When screen is above 991px, the conainer on about me and contact will not expand */
@media (min-width: 991px) {
  .aboutme,
  .message {
    max-width: 768px;
  }
}

/* at large screen sizes, a margin left of container will appear */
.lrgsc {
  margin-left: 50px;
}

/* When screen size is below 769px, the container will snap to the left.  */
@media (max-width: 768px) {
  .aboutme,
  .folio,
  .message {
    margin-left: 0px;
  }
}

/* Header style */
h1 {
  margin-top: 5px;
  font-size: 30px;
  font-weight: bold;
}

/* Container text styling */
.sectionstyle {
  background-color: white;
  position: relative;
  margin-bottom: 400px;
  border-radius: 5px;
}

/* Conact box stlying */
label {
  font-weight: 600;
  text-decoration: underline;
  font-size: medium;
}

input,
textarea {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.buttonstylez {
  background-color: #2c1c47;
  color: white;
  width: 100px;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  font-weight: 500;
}

.buttonstylez:hover {
  color: rgba(184, 109, 41, 1);
}

/* Footer */
/* climbsilo.png style */
footer img {
  height: 90px;
  position: absolute;
  right: 0px;
  bottom: -10px;
}

.footerstyle {
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0px;
  background: rgb(252, 137, 172);
  background: linear-gradient(
    0deg,
    rgba(252, 137, 172, 1) 0%,
    rgba(184, 109, 41, 1) 76%
  );
}

/* Instagram logo */
.IGlogo {
  font-size: 40px;
  position: absolute;
  right: 30px;
  top: 15px;
  color: #2c1c47;
}

/* Github */
.gitHub {
  font-size: 40px;
  position: absolute;
  right: 75px;
  top: 15px;
  color: #2c1c47;
}

.linkedIn {
  font-size: 40px;
  position: absolute;
  right: 125px;
  top: 15px;
  color: #2c1c47;
}

.card {
  margin-block: 10px;
}
